<!doctype html>
<html lang="en">
<head>
    <title>Network Map</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
        .sub-kpi{
            background-color: lightgray;
            padding:5px;
        }
        .kpi{
            padding:5px;
        }
        .red{
            color:red;
        }
        .green{
            color:green;
        }
        .amber{
            color:#ffbf00;
        }
        .tint{
            background-color:#f7f7f7;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script>
        let app = angular.module("myApp", []);
        app.controller("myController", function ($scope, $http) {
            let response; 

            // Function : Abbreviate Interface Names
            function removeSmall(str) {
                let temp = "";
                for (i = 0; i < str.length; i++) {
                    var ch = str.charAt(i);
                    if (ch >= "a" && ch <= "z")
                        continue;
                    temp += str.charAt(i);
                }
                return temp.toLowerCase();
            }

            // Function : Plot Topology
            function drawMap(response) {
                var nodelist = [];
                var set = new Set();
                for (device in $scope.device_map) {         
                    var name = $scope.device_map[device]["Name"][0]     
                    if (!set.has(name)) {
                        set.add(name);
                        var node = { id:name, shape:"image"}     
                        var isEndpoint = false;
                        if($scope.src!=undefined && $scope.dst!=undefined)
                        for(interface in $scope.device_map[device]['Interface Dictionary']){
                            if($scope.device_map[device]['Interface Dictionary'][interface]['ip']==$scope.src){
                                console.log($scope.device_map[device]['Interface Dictionary'][interface]['ip'],",",$scope.src)
                                node.label = "SRC:" + name;
                                isEndpoint = true;
                                break;
                            }
                            if($scope.device_map[device]['Interface Dictionary'][interface]['ip']==$scope.dst){
                                console.log($scope.device_map[device]['Interface Dictionary'][interface]['ip'],",",$scope.dst)
                                node.label = "DEST:" + name;
                                isEndpoint = true;
                                break;
                            }
                        }
                        if(!isEndpoint)
                            node.label = name;
                        if (name.includes('RC'))
                            node.image = "/static/router.png";
                        else
                            node.image = "/static/switchl3.png";
                        nodelist.push(node);
                    }
                }            
                var nodes = new vis.DataSet(nodelist);                
                var edgelist = [];
                for (line in response) {
                    var edge = {from:response[line]["now"],to:response[line]["next"]};
                    if (edge.to == edge.from)
                        continue;
                    edge.label = removeSmall(response[line]["entry"]) + " / " + removeSmall(response[line]["exit"]);
                    edgelist.push(edge)
                }
                var edges = new vis.DataSet(edgelist);
                var container = document.getElementById('mynetwork');
                var data = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {physics: {enabled: false},
                               interaction: {dragNodes: true, zoomView: true},
                               layout: {hierarchical:{direction:'UD'}}};

                var network = new vis.Network(container, data, options);    

                network.on("click", function (properties) {
                    $scope.$apply(function () {                        
                        $scope.clicked_device = $scope.device_map[properties.nodes];      
                        
                        $scope.thresholds = { green: 0, amber: 1, red: 3 }
                        $scope.images = { 0: "/static/checked.png", 
                                          1: "/static/warning-t.png",
                                          3: "/static/cancel.png"}
                        $scope.device = 0; 
			$scope.platform = 0;
                        $scope.cpu = 0;
                        $scope.processes = []; // not used
                        $scope.memory = 0;
                        $scope.logs = 0;

                        $scope.interface = 0;
                        $scope.interfaces = {};
                        $scope.counters = 0;
                        $scope.protocols = 0;
                        $scope.eigrp = 0;
			$scope.eigrp_down = [];
                        $scope.bgp = 0;
			$scope.bgp_down = [];
                        $scope.spanning = 0;
                        $scope.routeflaps = 0;


		
		
                        $scope.qos = 0;
                        evaluateThresholds();                    
                        
                        console.log($scope.clicked_device);
                        let clicked = properties.nodes;
                        $scope.exits = "";
                        $scope.entries = "";
                        for (entry in response) {
                            from = response[entry]["now"];
                            if (from == clicked) {
                                if (response[entry]['next'] == from)
                                    continue;
                                $scope.exits += response[entry]["next"] + " via " + response[entry]["exit"]
                            }
                            to = response[entry]["next"];
                            if (to == clicked) {
                                if (response[entry]['now'] == to)
                                    continue;
                                $scope.entries += response[entry]["now"] + " via " + response[entry]["entry"]
                            }
                        }
                        if ($scope.exits.length === 0) {
                            $scope.exits = "THIS IS DESTINATION";
                        }
                        if ($scope.entries.length === 0) {
                            $scope.entries = "THIS IS SOURCE";
                        }
                    });
                });
            }

            // Function : Apply Thresholds
            function evaluateThresholds(){

                console.log("Checking thresholds");                
                thresholds = $scope.thresholds;



                // CPU
                var flag = thresholds.green;
                for (attrib in $scope.clicked_device.CPU.cpu_util){
                    var value = $scope.clicked_device.CPU.cpu_util[attrib];
                    if(value < 30)
                        flag = flag | thresholds.green;
                    else if(value < 50)
                        flag = flag | thresholds.amber;
                    else
                        flag = flag | thresholds.red;
                }
                $scope.cpu = flag;

                // Memory
                var flag = thresholds.green;
                for (attrib in $scope.clicked_device.device.memory){
                    var value = $scope.clicked_device.device.memory[attrib];
                    if(value.percent < 30)
                        flag = flag | thresholds.green;
                    else if(value.percent < 50)
                        flag = flag | thresholds.amber;
                    else
                        flag = flag | thresholds.red;                    
                }
                $scope.memory = flag;

                // Logs
                var flag = thresholds.green;
		var eigrp_down = new Set();
	 	var bgp_down = new Set();
                for (it in $scope.clicked_device.device.log){   
                    var line = $scope.clicked_device.device.log[it]               
                    if(line.includes("DUAL")){
                        var r = /\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b/;
                        var ip =  line.match(r);
                        if(!(ip[0] in $scope.clicked_device.Protocols.eigrp)){
                            
			        eigrp_down.add(ip[0]);
				console.log(ip[0],"has not come back up");
			    
			    $scope.eigrp = $scope.eigrp | thresholds.red;
			    
                        }
			flag = flag | thresholds.red;
			
                    }
                    if(line.includes("BGP")){
                        var r = /\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b/;
                        var ip =  line.match(r);
                        if(!(ip[0] in $scope.clicked_device.Protocols.bgp)){
                            
			        bgp_down.add(ip[0]);
				console.log(ip[0],"has not come back up");
			    
			    $scope.bgp = $scope.bgp | thresholds.red;
			    
                        }
			flag = flag | thresholds.red;
			
                    }
                        
                   
                        flag = flag | thresholds.amber; 
                                      
                }
	        $scope.eigrp_down = Array.from(eigrp_down)
		$scope.bgp_down = Array.from(bgp_down)
                $scope.logs = flag;
                
                // Device
                $scope.device = $scope.cpu | $scope.memory | $scope.logs

                // Interfaces
                
                for(interface in $scope.clicked_device["Interface Dictionary"]){
                    var flag = thresholds.green;
		    var int = $scope.clicked_device["Interface Dictionary"][interface]
                    if(t(int.collisions) > 0 || t(int.crc) > 0 || t(int.frame) > 0 || t(int.ignored) > 0
                      || t(int.input_errors) > 0 || t(int.interf_reset) > 0 || t(int.collision) > 0 || t(int.output_drops) > 0 
                      || t(int.output_errors) > 0 || t(int.overrun) > 0){
                          flag = thresholds.amber;
                      }
                    $scope.interfaces[interface] = flag;
                }

                for(int in $scope.interfaces){
                    $scope.interface = $scope.interface | $scope.interfaces[int];
                }

                // EIGRP
                var flag = thresholds.green;
                for(neigh in $scope.clicked_device.Protocols.eigrp){
		    $scope.eigrp_neigh_count = "Number of neighbors constant"
                    var srtt = $scope.clicked_device.Protocols.eigrp[neigh].srtt;
                    var rto = $scope.clicked_device.Protocols.eigrp[neigh].rto;
		    var occurences = $scope.clicked_device.Protocols.eigrp[neigh].iteration;
		    var status = new Array();
		    
		    var changed = false; var limit=false; var prev=srtt[0];
		    for(val in srtt){
			if(srtt[val] != prev)
				changed = true;
			if(srtt[val] >= 1500)
				limit = true;
			prev = srtt[val];
		    }
		    if(changed==true){
			status.push("SRTT fluctuating")
		        flag = flag | thresholds.amber;
		    }
		    if(limit==true){
			status.push("SRTT Too High")
			flag = flag | thresholds.red;
		    }

		 
		    changed = false;  limit=false;  prev=rto[0];
		    for(val in rto){
			if(rto[val] != prev)
				changed = true;
			if(rto[val] > 4500)
				limit = true;
			prev = rto[val];
		    }
		   if(changed==true){
			status.push("RTO fluctuating")
			flag = flag | thresholds.amber;
		   }
		   if(limit==true){
			status.push("RTO Too High")
			flag = flag | thresholds.red;
		   }
		   if(occurences.length!=3){
			status.push("Flapping")
		        flag = flag | thresholds.red;
			$scope.eigrp_neigh_count="Number of Neighbors not constant"
		   }
		   if(!occurences.includes(2)){
			$scope.eigrp_down.push($scope.clicked_device.Protocols.eigrp[neigh].neighbor);
			flag = flag | thresholds.red;
		   }

		   if(status.length==0){
			 flag = flag | thresholds.green;
			 status.push("No Issues")
		   }

		  $scope.clicked_device.Protocols.eigrp[neigh].status= status
                }
                $scope.eigrp = $scope.eigrp | flag;
                
                // BGP
                var flag = thresholds.green;
                for(neigh in $scope.clicked_device.Protocols.bgp){
                    var value = $scope.clicked_device.Protocols.bgp[neigh];
		    if(typeof value === "object"){
                    if(value['condition']!="perfect")
                        flag = flag | thresholds.red;
                    else
                        flag = flag | thresholds.green;
		    }else{
	             if (value.includes("not"))
			flag = flag | thresholds.red;
	             else
			flag = flag | thresholds.green; 
		    }
	   
                }
                $scope.bgp = $scope.bgp | flag;

                $scope.protocols = $scope.eigrp | $scope.bgp ;

            }

	    // Returns 0 (fine), 1 (high values), 2 (changing values)
	    function t(arr){
	        var retval  = 0;
		var prev = arr[0]
		for (i in arr){
		   console.log(arr[i]," prev:",prev)
		   if(arr[i]>0)
			retval = 1;
		   if(arr[i] != prev)
			return 2;
		   prev = arr[i];
		}
		return retval
	    }

            function makeTable(devices) {
                $scope.device_map = {};
                for (obj in devices) {
                    name = devices[obj]['Name'][0];
                    $scope.device_map[name] = devices[obj]
                }
                console.log($scope.device_map)
            }

	    function handleErrors(errorDict){
		$scope.errors = errorDict;
                        $scope.images = { 0: "/static/checked.png", 
                                          1: "/static/warning-t.png",
                                          3: "/static/cancel.png"}
			$scope.ping_failure = 0;
			$scope.ssh_failure = 0;
			$scope.src_ping = 0;
			$scope.dst_ping = 0;
			$scope.dg_ping = 0;
		if($scope.errors == null)
			return;

		if("ping_failure" in $scope.errors){
			
			if($scope.errors["ping_failure"] == "false")
				$scope.ping_failure = 0; 
			else
				$scope.ping_failure = 3;
				
		}
		if("ssh_failure" in $scope.errors){
		
			if($scope.errors["ssh_failure"] == "false")
				$scope.ssh_failure = 0; 
			else
				$scope.ssh_failure = 3;
				
		}
		if("source" in $scope.errors){
			
			if($scope.errors["source"] == "perfect")
				$scope.src_ping = 0; 
			else
				$scope.src_ping = 3;
				
		}
		if("dg" in $scope.errors){
			
			if($scope.errors["dg"] == "perfect")
				$scope.dg_ping = 0; 
			else
				$scope.dg_ping = 3;
				
		}
		if("dest" in $scope.errors){
			
			if($scope.errors["dest"] == "perfect")
				$scope.dst_ping = 0; 
			else
				$scope.dst_ping = 3;
				
		}
	    }

            $scope.fetchData = function () {
                console.log("Fetching for (src,dst) : ",$scope.src,",",$scope.dst)
                $http({
                    method: 'POST',
                    url: '/Topology',
                    data: {
                        src: $scope.src,
                        dst: $scope.dst,
                    }
                }).then(function (res) {
                    response = res.data;
                    console.log(response);
                    if (response !== undefined) {
		        handleErrors(response[2]);
                        makeTable(response[1]);
                        drawMap(response[0]);
	                        
                    }
                }, function (res) {
                    console.log("Response Error Occured")
                });
            };


        });
    </script>
</head>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Automated Network Troubleshooter</h1>
        <p>Version 1.0 </p>
    </div>
</div>
<body>
<div ng-app="myApp" ng-controller="myController">
    <div class="align-middle">
    <form ng-submit="fetchData()" class="w-50">
        <div class="form-row">
            <div class="col-4">
                <input type="text" ng-model="src" class="form-control" placeholder="Source IP">
            </div>
            <div class="col-1 text-center">
                <span class="align-middle">to</span>
            </div>
            <div class="col-4">
                <input type="text" ng-model="dst" class="form-control" placeholder="Destination IP">
            </div>
            <div class="col-3">
                <input type="submit" value="Get Topology" class="btn btn-secondary">
            </div>
        </div>
        <br>
    </form>
    </div>
    <div class="row min-vh-100">
        <div id="mynetwork" class="col-3 border">

        </div>
        <div class="col-9 border">
	    <div ng-if="errors">
	         <h4 class="kpi"> Connectivity Errors were detected for the given query </h4>
		 <table class="table">
		 <tr ng-if="errors.ping_failure">
			<td>  <h5 class="sub-kpi">Ping Failed : {{ errors.ping_failure }} : <img ng-src = "{{images[ping_failure]}}" style="width:20px"/></h5> </td>		
 		</tr>
		 <tr ng-if="errors.source">
			<td>  Source Ping : {{ errors.source }} : <img ng-src = "{{images[src_ping]}}" style="width:20px"/> </td>		
 		</tr>
		 <tr ng-if="errors.dest">
			<td>  Destination Ping : {{ errors.dest }} : <img ng-src = "{{images[dst_ping]}}" style="width:20px"/> </td>		
 		</tr>
		 <tr ng-if="errors.dg">
			<td>  Default Gateway Ping : {{ errors.dg }} : <img ng-src = "{{images[dg_ping]}}" style="width:20px"/> </td>		
 		</tr>
		 <tr ng-if="errors.ssh_failure">
			<td>  <h5 class="sub-kpi">SSH Failed : {{ errors.ssh_failure }} : <img ng-src = "{{images[ssh_failure]}}" style="width:20px"/></h5> </td>		
 		</tr>
		 <tr ng-if="errors.ssh_err_ip">
			<td>  SSH failed on device : {{ errors.ssh_err_ip }}</td>		
 		</tr>
		</table>
	    </div>

            <div ng-if="clicked_device">
                <h4 class="sub-kpi">{{ clicked_device.Name[0] }}</h4>
                <div class="kpi">Entry: {{ entries }}</div>
                <div class="kpi">Exit: {{ exits }}</div>
            
                <div class="mt-4 border tint">
                    <h5 class="kpi"> Device Health: <img ng-src = "{{images[device]}}" style="width:20px"/></h5>
		    <div>
		    	<h6 class="sub-kpi">Platform: <img ng-src = "{{images[platform]}}" style="width:20px"/></h6>
			<table class="table table-borderless">
			    <tr>
				<td ng-if="clicked_device.device.version.hardware.length > 0">Hardware: {{ clicked_device.device.version.hardware }}</td>
				<td ng-if="clicked_device.device.version.reload_reason.length > 0">Reload Reason: {{ clicked_device.device.version.reload_reason }}</td>
				<td ng-if="clicked_device.device.version.soft_ver.length > 0">Software Version: {{ clicked_device.device.version.soft_ver }}</td>
				<td ng-if="clicked_device.device.version.uptime.length > 0">Uptime: {{ clicked_device.device.version.uptime }}</td>
				<td ng-if="clicked_device.device.version.version.length > 0">Version: {{ clicked_device.device.version.version }}</td>
			    </tr>
			</table>
		    </div>
                    <div>
                        <h6 class="sub-kpi">CPU Usage: <img ng-src = "{{images[cpu]}}" style="width:20px"/></h6>                    
                        <div class="row">
                            <div class="col"><b> CPU Total</b></div>
                            <div class="col">Five Second: {{ clicked_device.CPU.cpu_util.cpu_5_sec }}%</div>
                            <div class="col">One Minute: {{ clicked_device.CPU.cpu_util.cpu_1_min }}%</div>
                            <div class="col">Five Minutes: {{ clicked_device.CPU.cpu_util.cpu_5_min }}%</div>
                        </div> 
                        <table class="table table-borderless" ng-if="cpu > 0">
                            <thead>
                            <tr>
                                <th>Process</th>
                                <th>PID</th>
                                <th>5 Sec</th>
                                <th>1 Min</th>
                                <th>5 Min</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,value) in clicked_device.CPU.pid">
                                <td>{{value.process}}</td>
                                <td>{{key}}</td>
                                <td>{{value.proc_5_sec}}%</td>
                                <td>{{value.proc_1_min}}%</td>
                                <td>{{value.proc_5_min}}%</td>
                            </tr>
                            </tbody>
                        </table> 
                    </div>
                    <div>
                        <h6 class="sub-kpi">Memory Usage: <img ng-src = "{{images[memory]}}" style="width:20px"/></h6>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>Pool</th>
                                <th>Total</th>
                                <th>Free</th>
                                <th>Used</th>
                                <th>% Used</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,value) in clicked_device.device.memory">
                                <td>{{ key }}</td>
                                <td>{{ value.total }}Mb</td>
                                <td>{{ value.free }}Mb</td>
                                <td>{{ value.used }}Mb</td>
                                <td>{{ value.percent }}%</td>
                            </tr>
                            </tbody>
                        </table> 
                    </div>
                    <div>
                        <h6 class="sub-kpi">SysLog: <img ng-src = "{{images[logs]}}" style="width:20px"/></h6>    
                        <h6 class="sub-kpi red" ng-if="logs>0">SysLog Issues detected, Check Protocol Information for Details</h6>                
                        <div class="row" ng-if="logs>0" ng-repeat="log in clicked_device.device.log">
                                <div class="col">{{ log }}</div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 border tint">
                    <h5 class="kpi"> Interface Statistics: <img ng-src = "{{images[interface]}}" style="width:20px"/></h5>
                    <table class="table" ng-repeat="(key,interface) in clicked_device['Interface Dictionary']">
                        <thead><tr class="sub-kpi w-100"><td><h6>{{ key }} : {{ interface.ip }}
                               <img ng-src = "{{images[interfaces[key]]}}" style="width:20px"/></h6></td>
                               </tr>
                        </thead>
                        <tr>
                            <td>B/W: {{ interface.bandwidth[2] }}</td>
                            <td>Collisions: {{ interface.collisions }}</td>
                            <td>CRC: {{ interface.crc }}</td>
                            <td>{{ interface.duplex[2] }}</td>
                        </tr>
                        <tr>
                            <td>Frame: {{ interface.frame }}</td>
                            <td>Ignored: {{ interface.ignored }}</td>
                            <td>Input Errors:{{ interface.input_errors }}</td>
                            <td>Resets: {{ interface.interf_reset }}</td>                
                        </tr>
                        <tr>
                            <td>Speed: {{ interface.speed[2] }}</td>
                            <td>Late Collisions: {{ interface.late_collision }}</td>
                            <td>Output Drops: {{ interface.output_drops }}</td>
                            <td>Output Errors: {{ interface.output_errors }}</td>
                        </tr>
                        <tr>
                            <td>Overrun: {{ interface.overrun }}</td>
                            <td>Reliability: {{ interface.reliability[2] }}</td>
                            <td>RX Load: {{ interface.rxload[2] }}</td>                            
                            <td>TX Load:Hi{{ interface.txload[2] }}</td>
                        </tr>
                    </table>
                  <h6 class="sub-kpi">Interfaces with Counter Errors: <img ng-src = "{{images[counters]}}" style="width:20px"/></h6> 
                  
                    <h6 class="sub-kpi green" ng-if="counters==0">There are no interfaces with Counter errors on this Path</h6>  
                    

                </div>
                <div class="mt-4 border tint">
                    <h5 class="kpi"> Protocol Information: <img ng-src = "{{images[protocols]}}" style="width:20px"/></h5>
                    <div ng-if="clicked_device.Protocols.eigrp">
                        <h6 class="sub-kpi">EIGRP Neighbors: <img ng-src = "{{images[eigrp]}}" style="width:20px"/></h6>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>Neighbor</th>
                                <th>RTO (ms)</th>
                                <th>SRTT (ms)</th>
				<th>Hold (ms)</th>
                                <th>Uptime</th>
				<!--<th>Up in Iterations:</th>-->
				<th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="neigh in clicked_device.Protocols.eigrp">
                                
                                <td>{{ neigh.neighbor }}</td>
				<td>{{ neigh.rto }}</td>
                                <td>{{ neigh.srtt }}</td>
                                <td>{{ neigh.hold }}</td>
				<td>{{ neigh.uptime[0] }}</td>
                                <!--<td>{{ neigh.iteration }}</td>-->
				<td>{{ neigh.status }}</td>
				
			        
                            </tr>
			    <div><h6 class="">{{ eigrp_neigh_count }} </h6></div>
			    <div ng-if="eigrp_down.length !=0" ng-repeat="neigh in eigrp_down">
                                <h6 class="red">Neighbor Down : {{ neigh }}</h6></div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="clicked_device.Protocols.bgp">
                        <h6 class="sub-kpi">BGP Neighbors: <img ng-src = "{{images[bgp]}}" style="width:20px"/></h6>
			<h6> {{ clicked_device.Protocols.bgp.Number_of_neigh }} </h6>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
				<th>Router ID</th>
                                <th>Neighbor</th>
                                <th>Local AS</th>
                                <th>Neigh AS</th>
                                <th>Prefixes Recived</th>
                                <th>Up/Down</th>
                                <th>Status</th>
		 		
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="neigh in clicked_device.Protocols.bgp">
				<td>{{ neigh.router_id }}</td>
                                <td>{{ neigh.bgp_neigh }}</td>
                                <td>{{ neigh.local_as}}</td>
                                <td>{{ neigh.neigh_as }}</td>
                                <td>{{ neigh.state_pfxrcd }}</td>
                                <td>{{ neigh.updown}}</td>
                                <td>{{ neigh.condition }}</td>
				 
                            </tr>
                            </tbody>
                        </table>
<div ng-if="bgp_down.length !=0" ng-repeat="neigh in bgp_down">
                                <h6 class="tint">Neighbor Down : {{ neigh }}</h6></div>
                    </div>
                    <div>
                        <h6 class="sub-kpi">Route Flaps in the last hour: <img ng-src = "{{images[routeflaps]}}" style="width:20px"/></h6>    
                        <h6 class="sub-kpi green" ng-if="clicked_device.Protocols.ip_route.length == 0">No recent route flaps detected</h6>                
                        <div class="row" ng-repeat="flap in clicked_device.Protocols.ip_route">
                                <div class="col">{{ flap }}</div>
                        </div>
                    </div>
		    <div ng-if="clicked_device.Protocols.spanning_tree">
                        <h6 class="sub-kpi">Spanning Tree : <img ng-src = "{{images[spanning]}}" style="width:20px"/></h6>
			<h6 class="sub-kpi green"> No topology changes observed  </h6>
                    </div>              
		</div> 
                <div class="mt-4 border tint">
                        <h5 class="kpi"> Quality of Service: <img ng-src = "{{images[qos]}}" style="width:20px"/></h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
